<div class="card-body p-3 targetHome">
    <h5 class="card-title">{{homes.address}}</h5>
    <h6 class="card-subtitle mb-2">Added on {{homes.date_saved}} || <strong>${{homes.price}}</strong></h6>
    <p class="card-text">{{homes.title}} -- {{homes.user.username}}</p>
    <div class="home-data">
    <p><strong>bedrooms:</strong> {{homes.bedrooms}}</p>
    <p><strong>bathrooms:</strong> {{homes.bathrooms}}</p>
    <p><strong>squarefeet:</strong> {{homes.square_feet}}</p>
    </div>
    <a href="{{homes.link}}"><button id="gotohome-link" class="btn card-link">Visit the Link</button></a>
</div>
<br>
<div class="create-routes mb-5">

    <a href="/dashboard/moredecor/{{homes.id}}"><button id="update-link" class="btn card-link">Add Decor</button></a>

    <a href="/dashboard/updatehome/{{homes.id}}"><button id="update-link" class="btn card-link">Update this home</button></a>

      <a href="/dashboard/deletehome/{{homes.id}}"><button id="update-link" class="btn card-link">Delete this home</button></a>

</div>
<br>
<h2>Decor for this home:</h2>
<br>

    {{#each homes.decors as |decor|}}
    <br />
    <div class="decor-card">
      <div class="card-body p-3">
        <a href="/dashboard/decor/{{decor.id}}">
          <h5 class="card-title">{{decor.product_name}}</h5>
        </a>
        <h6 class="card-subtitle mb-2">Added on
          {{decor.date_saved}} || <strong>${{decor.price}}</strong> </h6>
        <p class="card-text">{{decor.description}} -- {{decor.user.username}}</p>
        <div class="">
          <a href="{{decor.link}}"><button id="gotohome-link" class="btn card-link">Visit the Link</button></a>
        </div>
      </div>
    </div>

    {{/each}}
   