<div class="decor-card">
      <div class="card-body p-3">
        <h5 class="card-title">{{decors.product_name}}</h5>
        <h6 class="card-subtitle mb-2">Added on
          {{decors.date_saved}} || <strong>${{decors.price}}</strong> </h6>
        <p class="card-text">{{decors.description}} -- {{decors.user.username}}</p>
        <div class="">
          <a href="{{decors.link}}"><button id="gotohome-link" class="btn card-link">Visit the Link</button></a>
        </div>
      </div>
    </div>
<br>
<div class="create-routes mb-5">

    
    <a href="/dashboard/updatedecor/{{decors.id}}"><button id="update-link" class="btn card-link">Update this decor</button></a>

      <a href="/dashboard/deletehome"><button id="update-link" class="btn card-link">Delete this decor</button></a>

</div>

