<div class="jumbotron">
  <h1 class="display-4">Your Dream Home Awaits</h1>
  <p class="lead">Looking for that perfect home? Sweet Dreams is a site you can call your own for all your home searches and decorating dreams.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<br>
<br>
<section class="d-flex justify content center">
  {{#each homes as |home|}}
  
<div class="card p-2 ml-3" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">{{home.address}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"><em>Added on {{home.date_saved}}</em></h6>
    <p class="card-text">{{home.title}} -- {{home.user.name}}</p>
    <a href="/dashboard/homedecor"><button id="decor-link" class="btn card-link">Decor for this home</button></a>
    <a href="{{home.link}}"><button id="gotohome-link" class="btn card-link">See this home</button></a>
  </div>
</div>
{{/each}}
</section>


