<div class="jumbotron">
  <h1 class="display-4">Your Dream Home Awaits</h1>
  <p class="lead">Looking for that perfect home?
    Got people you want to share the journey with?</p>
  <p> Home Party is a place to invite your family and friends for
    tracking your favorite homes and all the things you would like to have in it.</p>
  <hr class="my-4">
  <p></p>
</div>
<br>
<br>
<h2>All Saved Homes:</h2>
<br>
<section class="d-flex flex-wrap justify-content-center">
  {{#each homes as |home|}}
  <div class="home-card p-1 ml-3 mb-5" style="width: 40rem;">
    <div class="card-body p-3">
      <h5 class="card-title">{{home.address}}</h5>
      <h6 class="card-subtitle mb-2 text-dark">Added on {{home.date_saved}}</h6>
      <p class="card-text">{{home.title}} -- {{home.user.username}}</p>
      <a href="/dashboard/homedecor"><button id="decor-link" class="btn card-link">Decor for this home</button></a>
      <a href="{{home.link}}"><button id="gotohome-link" class="btn card-link">See this home</button></a>
    </div>
  </div>
  {{/each}}
  <br>
  <br>
</section>
<h2>All Saved Decor:</h2>
<section class="d-flex flex-wrap justify-content-center">
  {{#each decors as |decor|}}
  <br />
  <div class="decor-card p-1 ml-3 mt-3" style="width: 40rem;">
    <div class="card-body p-3">
      <h5 class="card-title">{{decor.product_name}}</h5>
      <h6 class="card-subtitle mb-2 text-dark">Added on
        {{decor.date_saved}} || <strong>${{decor.price}}</strong> </h6>
      <p class="card-text">{{decor.description}} -- {{decor.user.username}}</p>
      <div class="flex-d justify-content-center">
        <a href="/dashboard/decorhomes"><button id="decor-link" class="btn card-link">Homes for this
            decor</button></a>
        <a href="/dashboard/updatedecore"><button id="update-link" class="btn card-link">Update this home</button></a>
        <a href="{{decor.link}}"><button id="gotohome-link" class="btn card-link">See this decor</button></a>
      </div>
    </div>
  </div>
  {{/each}}
</section>