
<section class="d-flex flex-wrap justify-content-center">
  <div class="home-card p-1 ml-3 mb-5">
    <div class="card-body p-3">
  <h5 class="card-title">{{homes.address}}</h5>
  <h6 class="card-subtitle mb-2">Added on {{homes.date_saved}} || <strong>${{homes.price}}</strong></h6>
  <p class="card-text">{{homes.title}} -- {{homes.user.username}}</p>
    <p class="high-info"><strong>bedrooms:</strong> {{homes.bedrooms}}</p>
    <p class="high-info"><strong>bathrooms:</strong> {{homes.bathrooms}}</p>
    <p class="high-info"><strong>squarefeet:</strong> {{homes.square_feet}}</p>
  <a href="{{homes.link}}"><button id="gotohome-link" class="btn card-link">Visit the Link</button></a>
</div>
</section>
<br>
<h2>Decor for this home:</h2>
<br>
    {{#each homes.decors as |decor|}}
    <br />
    <div class="decor-card">
      <div class="card-body p-3">
        <a href="/dashboard/decor/{{decor.id}}">
          <h5 class="card-title">{{decor.product_name}}</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-dark">Added on
          {{decor.date_saved}} || <strong>${{decor.price}}</strong> </h6>
        <p class="card-text">{{decor.description}} -- {{decor.user.username}}</p>
        <div class="">
          <a href="{{decor.link}}"><button id="gotohome-link" class="btn card-link">Visit the Link</button></a>
        </div>
      </div>
    </div>

    {{/each}}
  </section>